body {
	background-color: #36648B;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p > a {
	color: #26BA9A;
}
a {
	color: #26BA9A;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}


	
}
.headerOuterWrapper {  /*ขอบส่วนยินดีต้อนรับ*/
	z-index: 1;
	height: 82px;
	overflow: visible;border-radius: 3px;

	
}


.mainMenuButton {
	height: 79px;
	width: 120px;
	
	position: absolute;
	left: 50%;
	margin-left: -60px;
	


	height: 198px;
	width: 198px;
	position: absolute;
	top: 50%;
	margin-top: -99px;
	left: 50%;
	margin-left: -99px;

	
}
.mainMenuButton > span {
	display: block;
	height: 18px;
	line-height: 18px;
	color: #333;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 16px;
}
.mainMenuButton:hover {
	text-decoration: none;
}



.mainMenuWrapper {
	clear: both;
	display: none;
	background-color: #fff;
	margin: 0px;
	position: relative;
	border-top: 3px solid #26ba9a;
	padding-left: 24px;
	padding-top: 24px;
	padding-bottom: 12px;
	padding-right: 24px;
	z-index: 9999;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Header CSS Rules End                                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Landing Page CSS Rules Start                                                                       */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.landingWrapper {
}
.landingPageWrapper {
	background: url(../images/common/landingPageHighlightBg.png) center center no-repeat;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.landingLogoWrapper {
	height: 198px;
	width: 198px;
	position: absolute;
	top: 50%;
	margin-top: -99px;
	left: 50%;
	margin-left: -99px;
}
.landingLogo {
	 position: absolute;
	 z-index: 12;
	width: 198px;
	height: 198px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Landing Page CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Home Page CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.homePageWrapper {
	margin-bottom: 0px;
}
.homePageWrapper .welcomeWrapper {
	margin-bottom: 36px;
	padding-bottom: 22px;
	padding-top: 23px;
}
.homePageWrapper .welcomeWrapper > h3 {
	text-align: center;
	font-style: italic;
}
.homePageWrapper .homeAccordionWrapper {
	margin-bottom: 36px;
}
.pageWrapper .featuredPlacesWrapper {
	margin-bottom: 9px;
	box-shadow: none;
	border-radius: 0px;
}
.featuredPlace {
	margin-bottom: 24px;
}
.featuredPlace > a.featuredPlaceButton {
	margin-bottom: 3px;
}
.featuredPlaceImageLink {
	border-radius: 50%;
	border: 6px solid #e8e8e8;
	margin-bottom: 24px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
.featuredPlaceImage {
	width: 100%;
	height: auto;
}
.featuredPlaceName {
	text-align: center;
	padding-top: 0px;
	color: #fff;
}
.featuredPlaceInfo {
	text-align: center;
	margin-bottom: 22px;
	color: #f4f4f4;
}
.featuredPlaceButton {
	margin-left: auto;
	margin-right: auto;
	width: 62px;
	text-align: center;
	display: block;
	background-color: #333;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Home Page CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio One CSS Rules Start                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioOneFilterablePageWrapper {
	margin-bottom: 0px;
}
.portfolioMenuWrapper {
	list-style: none;
	padding-left: 0px;
	padding-right: 12px;
	padding-top: 23px;
	margin-bottom: 36px;
	padding-bottom: 18px;
	margin-left: 24px;
	margin-right: 24px;
	background-color: #fff;
	border-radius: 6px;
	padding-left: 12px;
	padding-right: 12px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
.portfolioMenuWrapper li {
	float: left;
	padding-left: 0px;
	padding-right: 15px;
	background: url(../images/common/portfolioFilterableMenuDecoBg.png) right center no-repeat;
	margin-right: 9px;
	margin-bottom: 4px;
}
.portfolioMenuWrapper > li:last-child {
	background: none;
	margin-right: 0px;
}
.portfolioMenuWrapper li a {
	color: #999;
}
.portfolioMenuWrapper li a:hover {
	text-decoration: none;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #26BA9A;
}
.portfolioOneFilterableWrapper {
	padding-left: 24px;
	padding-right: 24px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemWrapper {
	margin-bottom: 36px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;
	background-color: #fff;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-radius: 6px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper img {
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemInfoWrapper {
	background-color: #fff;
	padding-top: 21px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 22px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemInfoWrapper > *:last-child {
	margin-bottom: 0px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemTitle {
	margin-bottom: 16px;
	height: 18px;
	padding-bottom: 0px;
}
.portfolioFilterableItemButtonsWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
}
.portfolioFilterableExpandButton {
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioExpandButtonBg.png) left center no-repeat;
	padding-right: 12px;
	border-radius: 0px 6px 6px 6px;
}
.portfolioFilterableDetailsButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioDetailsButtonBg.png) right center no-repeat;
	padding-left: 12px;
	border-radius: 6px 0px 6px 6px;
}
.portfolioFilterableExpandButton:hover, .portfolioFilterableDetailsButton:hover {
	text-decoration: none;
}
.filteredPortfolioItem {
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio One CSS Rules End                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio Two CSS Rules Start                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioTwoFilterablePageWrapper {
	margin-bottom: 0px;
}
.portfolioTwoFilterableWrapper {
	margin-left: 24px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemWrapper {
	float: left;
	margin-right: 36px;
	margin-bottom: 36px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;
	background-color: #fff;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-radius: 0px 0px 6px 6px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemImageWrapper img {
	border-radius: 0px 0px 6px 6px;
	width: 100%;
	height: auto;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemInfoWrapper {
	background-color: #fff;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 36px;
	border-radius: 0px 0px 6px 6px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemInfoWrapper > *:last-child {
	margin-bottom: 0px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemTitle {
	font-size: 12px;
	margin-bottom: 0px;
	height: 36px;
	line-height: 36px;
	padding-bottom: 0px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio Two CSS Rules End                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// One Column Portfolio CSS Rules Start                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioOnePageWrapper {
	margin-bottom: 0px;
}
.portfolioOneWrapper {
	padding-left: 24px;
	padding-right: 24px;
}
.portfolioOneItemWrapper {
	margin-bottom: 36px;
	border-radius: 6px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	background-color: #fff;
}
.portfolioOneItemImageWrapper {
	border-radius: 6px;
}
.portfolioOneItemImageWrapper:hover {
}
.portfolioOneItemImageWrapper img {
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.portfolioOneItemInfoWrapper {
	background-color: #fff;
	padding-top: 21px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 22px;
}
.portfolioOneItemInfoWrapper > *:last-child {
	margin-bottom: 0px;
}
.portfolioOneItemTitle {
	margin-bottom: 16px;
	height: 18px;
	padding-bottom: 0px;
}
.portfolioOneHoverDeco {
}
.portfolioOneItemButtonsWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
}
.portfolioOneExpandButton {
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 40px;
	color: #666;
	background: #e9e9e9 url(../images/skins/default/portfolioExpandButtonBg.png) left center no-repeat;
	padding-right: 12px;
	border-radius: 0px 6px 6px 6px;
}
.portfolioOneDetailsButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #e9e9e9 url(../images/skins/default/portfolioDetailsButtonBg.png) right center no-repeat;
	padding-left: 12px;
	border-radius: 6px 0px 6px 6px;
}
.portfolioOneExpandButton:hover, .portfolioOneDetailsButton:hover {
	text-decoration: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// One Column Portfolio CSS Rules End                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Two Columns Portfolio CSS Rules Start                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioTwoPageWrapper {
	margin-bottom: 0px;
}
.portfolioTwoWrapper {
	margin-left: 24px;
}
.portfolioTwoItemWrapper {
	float: left;
	margin-right: 36px;
	margin-bottom: 36px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;
	background-color: #fff;
}
.portfolioTwoItemImageWrapper {
	border-radius: 0px 0px 6px 6px;
}
.portfolioTwoItemImageWrapper:hover {
}
.portfolioTwoItemImageWrapper img {
	width: 100%;
	height: auto;
	border-radius: 0px 0px 6px 6px;
}
.portfolioTwoItemInfoWrapper {
	background-color: #fff;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 36px;
	border-radius: 0px 0px 6px 6px;
}
.portfolioTwoItemTitle {
	font-size: 12px;
	margin-bottom: 0px;
	height: 36px;
	line-height: 36px;
	padding-bottom: 0px;
}
.portfolioTwoHoverDeco {
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Two Columns Portfolio CSS Rules End                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Single Project Page CSS Rules Start                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.singleProjectPageWrapper {
	padding-bottom: 3px;
	margin-bottom: 33px;
}
.pageWrapper .singleProjectContentWrapper {
	border-radius: 6px 6px 0px 0px;
	box-shadow: none;
	margin-bottom: 0px;
}
.singleProjectImageWrapper {
	margin-right: 24px;
	margin-left: 24px;
	border: 3px solid #fff;
	margin-bottom: 36px;
	border-radius: 6px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
.singleProjectImage {
	width: 100%;
	height: auto;
}
.singleProjectItemButtonsWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
	margin-left: 24px;
	margin-right: 24px;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
.singleProjectExpandButton {
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioExpandButtonBg.png) left center no-repeat;
	padding-right: 12px;
}
.singleProjectDetailsButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioDetailsButtonBg.png) right center no-repeat;
	padding-left: 12px;
}
.singleProjectExpandButton:hover, .singleProjectDetailsButton:hover {
	text-decoration: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Single Project Page CSS Rules End                                                                  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Page CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.blogPageWrapper {
	margin-bottom: 0px;
}
.blogPostsWrapper {
	margin-left: 24px;
	margin-right: 24px;
}
.smallPostWrapper {
	margin-bottom: 36px;
	border-radius: 6px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	background-color: #fff;
}
.postThumbnailWrapper {
	border-radius: 6px;
}
.postThumbnailWrapper img {
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.postThumbnailWrapper:hover {
}
.postExcerptWrapper {
	background-color: #fff;
	padding-top: 23px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 22px;
}
.postExcerptWrapper > *:last-child {
	margin-bottom: 0px;
}
.smallPostTitle {
	margin-bottom: 19px;
	height: 18px;
	padding-bottom: 0px;
}
.smallPostInfoWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
	padding-left: 12px;
	color: #666;
}
.postInfo {
	margin-right: 18px;
}
.postInfoNoMargin {
	margin-right: 0px;
}
.smallPostMoreButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/smallPostReadMoreButtonBg.png) right center no-repeat;
	padding-left: 12px;
}
.smallPostMoreButton:hover {
	text-decoration: none;
}
.smallPostQuote {
	padding-left: 28px;
	background: url(../images/common/quoteBg.png) 0 0 no-repeat;
	font-style: italic;
}
.smallPostQuoteAuthor {
	font-style: normal;
	color: #999;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Page CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Post CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.singlePostPageWrapper {
	margin-bottom: 33px;
	padding-bottom: 3px;
}
.singlePostContentWrapper {
	background-color: #fff;
	padding-top: 18px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 27px;
	border-radius: 6px 6px 0px 0px;
}
.singlePostContentWrapper > *:last-child {
	margin-bottom: 0px;
}
.singlePostInfoWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f0f0f0;
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	margin-bottom: 36px;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
.commentsSectionWrapper {
	background-color: #fff;
	margin-bottom: 27px;
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 23px;
	border-radius: 6px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
.commentsTitle {
	padding-top: 0px;
	margin-bottom: 22px;
}
.commentsSectionWrapper > .commentsWrapper {
	margin-bottom: 23px;
}
.commentsSectionWrapper > .commentsWrapper > .commentWrapper {
	padding-bottom: 21px;
	border-bottom: 1px solid #f0f0f0;
}
.commentsWrapper > .commentWrapper {
	margin-bottom: 27px;
}
.commentsWrapper > .commentWrapper:last-child {
	margin-bottom: 0px;
}
.commentAvatar {
	float: left;
	border: 3px solid #f0f0f0;
}
.commentAvatar > img {
	width: 100%;
	height: 100%;
}
.commentWrapper > .commentAvatar {
	width: 36px;
	height: 36px;
}
a.commentAvatar:hover {
}
.commentInfoWrapper {
	float: left;
	margin-left: 27px;
	margin-bottom: 0px;
	margin-top: 11px;
	padding-bottom: 0px;
}
.comment {
	margin-left: 69px;
	clear: both;
	border-top: 1px solid #f0f0f0;
	padding-top: 23px;
	top: -1px;
}
.comment > *:last-child {
	margin-bottom: 0px;
}
.commentsFormWrapper {
	margin-bottom: 27px;
}
.commentsForm {
}
.commentsFormTitle {
	margin-bottom: 18px;
}
.commentsForm .formFieldWrapper {
	margin-bottom: 23px;
}
.commentsForm .formTextareaWrapper {
	margin-bottom: 27px;
}
.commentsForm label {
	margin-bottom: 13px;
	width: 100%;
}
.commentsForm .formFieldWrapper input[type="text"], .commentsForm .formTextareaWrapper textarea {
	margin-bottom: 0px;
	background-color: #f3f3f3;
	border: 3px solid #f0f0f0;
}
.commentsForm .formFieldWrapper input[type="text"]:focus, .commentsForm .formTextareaWrapper textarea:focus {
	background-color: #f6f6f6;
}
.commentsForm .formFieldWrapper input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	height: 36px;
}
.commentCommentTextarea {
	width: 100%;
	box-sizing: border-box;
	height: 168px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Post CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// 404 Page CSS Rules Start                                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.errorSearchForm {
	margin-bottom: 27px;
}
#errorSearchFormField {
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	border-right: 0px;
	margin-bottom: 0px;
	background-color: #f3f3f3;
	border: 3px solid #f0f0f0;
	color: #999;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// 404 Page CSS Rules End                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Contact Page CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contactPageWrapper {
}
.pageWrapper .contactFormWrapper {
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #fff;
	padding-top: 23px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;
	margin-bottom: 3px;
}
.contactForm {
	margin-bottom: 27px;
}
.contactTitle {
	margin-bottom: 18px;
	padding-top: 0px;
}
.contactForm .formFieldWrapper {
	margin-bottom: 23px;
}
.contactForm .formTextareaWrapper {
	margin-bottom: 36px;
}
.contactForm label {
	margin-bottom: 13px;
	width: 100%;
	box-sizing: border-box;
	height: 18px;
	line-height: 18px;
}
.contactForm .formFieldWrapper input[type="text"], .contactForm .formTextareaWrapper textarea {
	margin-bottom: 0px;
	box-sizing: border-box;
	background-color: #f3f3f3;
	border: 3px solid #f0f0f0;
	color: #999;
}
.contactForm .formFieldWrapper input[type="text"]:focus, .contactForm .formTextareaWrapper textarea:focus {
	background-color: #f6f6f6;
}
.contactForm .formFieldWrapper input[type="text"] {
	width: 100%;
	height: 36px;
}
.contactTextarea {
	width: 100%;
	max-width: 100%;
	height: 168px;
	box-sizing: border-box;
}

.formValidationError {
	display: none;
	height: 36px;
	line-height: 36px;
	margin-left: 0px;
	color: #cc0000;
	float: left;
}
input.fieldHasError, textarea.fieldHasError {
}
.formSuccessMessageWrapper {
	display: none;
	margin-bottom: 4px;
}
.formSuccessMessageWrapper > h4 {
	background: url(../images/icons/smallIcons/16/2/iconCheckmarkBg16.png) 0 center no-repeat;
	padding-left: 28px;
}
.socialIconsWrapper {
	background-color: #fff;
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 27px;
	padding-bottom: 27px;
	height: 16px;
	text-align: center;
	vertical-align: baseline;
	margin-bottom: 36px;
	letter-spacing: -3px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;
}
.socialIconsWrapper > .socialIcon {
	display: inline-block;
	vertical-align: baseline;
	width: 16px;
	height: 16px;
	padding-left: 12px;
	padding-right: 12px;
	background-position: center center;
	background-repeat: no-repeat;
}
.contactMapWrapper {
	background-color: #fff;
	padding: 3px;
	padding-top: 23px;
	margin-bottom: 36px;
	margin-left: 24px;
	margin-right: 24px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;
}
.contactMap {
	display: block;
	overflow: hidden;
	height: 168px;
	width: 100%;
	margin: 0px;
	border: none;
	padding: 0px;
	box-sizing: border-box;
}
.mapTitle {
	margin-bottom: 22px;
	margin-left: 9px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Contact Page CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Page Numbers CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.pageNumbersWrapper {
	margin-top: 0px;
	clear: both;
	margin-bottom: 33px;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 0px;
	border-top: 3px solid #1d9077;
	padding-top: 36px;
}
.pageNumber {
	height: 24px;
	line-height: 24px;
	width: 24px;
	float: left;
	margin-right: 12px;
	background-color: #fff;
	color: #999;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	margin-bottom: 3px;
}
.pageNumber:hover {
	text-decoration: none;
	background-color: #fff;
}
.currentPageNumber {
	background-color: #333;
	color: #fff;
	font-weight: bold;
}
.currentPageNumber:hover {
	background-color: #333;
	color: #fff;
}
.postLinksWrapper {
	height: 36px;
	line-height: 36px;
	clear: both;
	margin-right: 24px;
	margin-left: 24px;
	margin-bottom: 36px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
}
.postLink {
	padding-left: 12px;
	padding-right: 12px;
}
.postLink:hover {
	text-decoration: none;
}
.previousPost {
	float: left;
	display: inline-block;
	height: 36px;
	line-height: 36px;
}
.nextPost {
	float: right;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	text-align: right;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Page Numbers CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Footer CSS Rules Start                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footerWrapper {
	padding-left: 24px;
	padding-right: 24px;
	background-color: #41627E;
	height: 54px;
	overflow: visible;
	border-top: 3px solid #488AC7;
}
.footerWrapper a {
	color: #26BA9A;
}
.footerSocialIconsWrapper {
	float: right;
	height: 54px;
}
.footerSocialIcon {
	float: left;
	margin-left: 12px;
	width: 24px;
	height: 24px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	margin-top: 15px;
}





.pageContentWrapper {
	background-color: #fff;
	overflow: visible;border-radius: 3px;
	top: 10px;
	height: 30px;
	padding-top: 18px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 27px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;

		
	top: -6px;
text-shadow: 0.1em 0.1em 0.2em black;
letter-spacing:4px;
line-height: 24px;
	text-align: center;
	height: 30px;
	padding-top: 18px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 27px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;


}







/*ส่วนของวงกลมกระพิบ*/

.pulse {
  position: relative;

  
  width: 160px;
  height: 160px;
 	top: 15px;
 	left: 19px;
  color: white;
  text-shadow: 0 1px 0 #1f4c76;
  border: 1px solid #3480c7;
  box-shadow: 0 0 0 0 rgba(90, 153, 220, 0.7), inset 0 1px 0 #abcbe9;
  border-radius: 100%;
  v-align: middle;
  background: #00BFFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00BFFF), color-stop(100%, #00BFFF));
  background-image: -webkit-linear-gradient(#00BFFF, #00BFFF);
  background-image: -moz-linear-gradient(#00BFFF, #468ccf);
  background-image: -o-linear-gradient(#00BFFF, #468ccf);
  background-image: linear-gradient(#00BFFF, #468ccf);
  cursor: pointer;
  -webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #ffffff;  /*กำหนดขนาดของความกว้างที่กระพิบ*/
  }
}



.footerLogo {
	background: url(image/Login/footerLogo.png);
	float: left;
	height: 24px;
	margin-top: 15px;
}
.footerLogo > img {
	height: 24px;
	width: auto;
}







.footerFacebookIcon {
	background-image: url(../image/Login/footerFacebookIconBg.png);
}


.text1{

text-shadow: 0.1em 0.1em 0.1em black;
letter-spacing: 4px;line-height: 27px;
top: -6px;
}

.text2{
	font-size: 16px;
	top: -6px;
text-shadow: 0.1em 0.1em 0.2em black;
letter-spacing:4px;
line-height: 24px;

}

.login{
	font-size: 16px;
	top: -6px;
text-shadow: 0.1em 0.1em 0.2em black;
letter-spacing:4px;
line-height: 24px;
	text-align: center;
	height: 30px;
	padding-top: 18px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 27px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.09);
	border-radius: 6px;
}